<h1><%= title "#{Blog.first.name + '\'s '} posts" %></h1>

<p style="float:right"><%= link_to 'New Post', new_post_path if admin_signed_in? %></p>

<% @posts.each do |post| %>
<div class="col_12 in inline">
	<div class="down_2">
			<li><%= link_to post.title, post %></li>
	    <% if admin_signed_in? %>			
			<li><%= link_to 'Edit', edit_post_path(post) %></li>
			<li><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></li>
				<% end %>
	</div>

</div>
<% end %>
